@import '~Base/mixins.scss';
@import '~Base/variables.scss';

.social-list {
  @include reset-list-style;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;

  &__link {
    display: block;
    width: 1.714rem;
    height: 1.714rem;
    background: $purple-gradient;
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    @media (min-width: $desktop-width-m) {
      padding-top: 0.3125rem;
    }
  }

  &__text {
    @include visually-hidden;
  }

  &__icon {
    font-family: 'font-awesome-5-brands-regular';
    font-weight: normal;
    font-size: 1.714rem;

    &_type_twitter::before {
      content: '\f099';
    }

    &_type_facebook::before {
      content: '\f082';
    }

    &_type_instagram::before {
      content: '\f16d';
    }
  }
}
