@import '../../base/theme.scss';
@import '../../base/base.scss';
@import '../../../node_modules/item-quantity-dropdown/lib/item-quantity-dropdown.min.css';

.dropdown__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.dropdown__label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.dropdown__state {
  @include h3-text;
  margin: 0;
  font-weight: normal;
  color: $dark-color-opacity-50;
}

.iqdropdown {
  height: 44px;
  border: 1px solid $dark-color-opacity-25;
  &:hover,
  &:focus,
  &_focused {
    border-color: $dark-color-opacity-50;
  }
  .iqdropdown-selection {
    @include body-text;
    color: $dark-color-opacity-75;
  }
}

.iqdropdown.menu-open {
  border-color: $dark-color-opacity-50;
}

.iqdropdown .iqdropdown-menu-option {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 7px 7px 0 15px;
  &:last-child {
    margin-bottom: 8px;
  }
}

.iqdropdown.menu-open .iqdropdown-menu {
  border: 1px solid $dark-color-opacity-50;
  box-shadow: none;
}

.iqdropdown .iqdropdown-menu {
  top: 42px;
}

.iqdropdown-item {
  @include h3-text;
  line-height: 2.143;
}

.iqdropdown .iqdropdown-item-controls {
  width: 92px;
  height:  30px;
  button.button-decrement,
  button.button-increment {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid $dark-color-opacity-25;
    border-radius: 22px;
  }
  .counter {
    flex-grow: 1;
    padding: 0;
    border: none;
    @include h3-text;
    line-height: 2.143;
    text-align: center;
  }
}

.iqdropdown .icon-decrement.icon-increment::before {
  width: 1px;
  height: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $dark-color-opacity-25;
}

.iqdropdown .icon-decrement::after {
  width: 7px;
  height: 1px;
  top: 7px;
  left: 50%;
  transform: translate(-50%, 0);
  background: $dark-color-opacity-25;
}

.iqdropdown .iqdropdown-item-controls button:hover {
  background-color: $white-color;
  border-color: $dark-color-opacity-50;
}

.button-decrement:hover .icon-decrement::after,
.button-increment:hover .icon-increment::before,
.button-increment:hover .icon-increment::after {
  background: $dark-color-opacity-50;
}

.iqdropdown-menu-buttons {
  display: flex;
  justify-content: space-between;
  margin: 19px auto 13px auto;
  padding: 0 7px 0 14px;
}

.iqdropdown-menu-buttons__clear,
.iqdropdown-menu-buttons__apply {
  @include h3-text;
}

.iqdropdown-menu-buttons__clear {
  color: $dark-color-opacity-50;
  &:hover {
    color: $dark-color-opacity-75;
  }
}

.iqdropdown-menu-buttons__apply {
  color: $purple-color;
  &:hover {
    color: $purple-hover-color;
  }
}
