@import '~Base';

.dropdown {
  max-width: 22.857rem;

  &_type_facilities {
    max-width: 19rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.286rem;
  }

  &__label {
    @include h3-text;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__type {
    @include h3-text;
    margin: 0;
    font-weight: normal;
    color: $dark-color-opacity-50;
  }

  &__container {
    position: relative;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
  }

  &__option-title,
  &__quantity {
    @include h3-text;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.571rem;
  }

  &__controls-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 0.786rem;
  }

  &__apply-button {
    margin-left: auto;
  }

  &__clear-button_visibility_invisible {
    display: none;
  }

  &__decrement-button,
  &__increment-button {
    width: 2.143rem;
    height: 2.143rem;
    padding-top: 0.357rem;
    border: 0.071rem solid $dark-color-opacity-25;
    background: none;
    border-radius: 1.571rem;
    font-size: 1.286rem;
    line-height: 1.571rem;
    color: $dark-color-opacity-25;
    cursor: pointer;

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }

    &:hover,
    &:focus {
      color: $dark-color-opacity-50;
      border-color: $dark-color-opacity-50;
      outline: none;
    }
  }

  &__selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.071rem;
    border: 0.071rem solid $dark-color-opacity-25;
    border-radius: 0.286rem;
    cursor: pointer;
  }

  &__selection-text {
    margin: 0;
  }

  &__selection-icon {
    @include material-icons;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: $dark-color-opacity-50;
  }

  &__menu {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 1.071rem;
    padding-right: 0.5rem;
    z-index: 3;
    border: 0.071rem solid $dark-color-opacity-25;
    border-bottom-left-radius: 0.286rem;
    border-bottom-right-radius: 0.286rem;
    box-shadow: 0 0.714rem 1.429rem $dark-color-opacity-5;
    background-color: $white-color;

    &_expanded {
      display: block;
    }
  }
}
