mixin dropdown
  div.iqdropdown
    p.iqdropdown-selection Сколько гостей
    div.iqdropdown-menu
      div.iqdropdown-menu-option(data-id="adult")
        div
          h3.iqdropdown-item Взрослые
      div.iqdropdown-menu-option(data-id="children")
        div
          h3.iqdropdown-item Дети
      div.iqdropdown-menu-option(data-id="babies")
        div
          h3.iqdropdown-item Младенцы
