extends ../../base/base.pug
include ../../components/header/header
include ../../components/room-details/room-details
include ../../components/pie-chart/pie-chart
include ../../components/reviews/reviews
include ../../components/bullet-list/bullet-list
include ../../components/booking-form/booking-form
include ../../components/footer/footer

block vars
  -
    const reviewsData = {
      'title': 'Отзывы посетителей номера',
      'isVisibleCountOfReviews': true,
      'items': [
        {
          'imgName': 'avatar-1.png',
          'authorName': 'Мурад Сарафанов',
          'date': '5 дней назад',
          'likeButton': {'countOfLikes': 12, 'isActive': true},
          'text': 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. ' +
            'И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
        },
        {
          'imgName': 'avatar-2.png',
          'authorName': 'Патрисия Стёклышкова',
          'date': 'Неделю назад',
          'likeButton': {'countOfLikes': '2'},
          'text': 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое ' +
            'блюдо и десерт как комплимент',
        }
      ]
    };

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Room details page.")

block title
  | room details

block content

  +header()
  main.details
    div.details__images-wrapper
      img.details__image(src=require('../../pages/room-details/images/1.png').default width='68.125%' height='100%' alt='Photo of bedroom')
      img.details__image(src=require('../../pages/room-details/images/2.png').default width='31.875%' height='50%' alt='Photo of cabinet')
      img.details__image(src=require('../../pages/room-details/images/3.png').default width='31.875%' height='50%' alt='Photo of bedroom')
    div.details__content-wrapper
      div.details__content
        div.details__content-top
          +roomDetails({'title': 'Сведения о номере'})
          +pie-chart()
        div.details__content-bottom
          div.details__reviews-wrapper
            +reviews(reviewsData)
        div.details__rules-wrapper
          +bulletList({'title': 'Правила'})
          div.details__cancel-rule
            h2.details__cancel-rule-title Отмена
            p.details__cancel-rule-description Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      +bookingForm
  +footer()
