mixin pagination
  -
    const items = [
      {"content": "1", "isCurrent": true},
      {"content": "2"},
      {"content": "3"},
      {"content": "..."},
      {"content": "15"},
      {"content": "arrow_forward", "isNext": true},
    ];
  div.pagination
    ul.pagination__list
      each item in items
        - let {content, isCurrent, isNext} = item;
        li.pagination__item
          a.pagination__link(
            class = isCurrent ? "pagination__link_value_current" : "",
            class = isNext ? "pagination__link_value_next" : ""
            ) !{content}
    p.pagination__description 1 – 12 из 100+ вариантов аренды
