@import '../../base/base.scss';
@import '../../base/theme.scss';

.pagination {
  max-width: 240px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pagination__link {
  @include h3-text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: normal;
  cursor: pointer;
}

.pagination__link--current {
  background: $purple-gradient;
  border-radius: 22px;
  font-weight: bold;
  color: $white-color;
}

.pagination__link--next {
  @include material-icons;
  display: flex;
  background: $green-gradient;
  border-radius: 22px;
  color: $white-color;
}

.pagination__description {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 1rem;
  line-height: 1.714rem;
}
