@import '../../base/base.scss';
@import '../../base/theme.scss';

.pagination {
  max-width: 17.143rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__description {
    margin-top: 0.714rem;
    padding-left: 0.357rem;
    font-size: 1rem;
    line-height: 1.714rem;
  }
}

.pagination__link {
  @include h3-text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.857rem;
  height: 2.857rem;
  font-weight: normal;
  cursor: pointer;
  &_value_current {
    background: $purple-gradient;
    border-radius: 1.571rem;
    font-weight: bold;
    color: $white-color;
  }
  &_value_next {
    @include material-icons;
    display: flex;
    background: $green-gradient;
    border-radius: 1.571rem;
    color: $white-color;
  }
}
