@import '../../base/base.scss';
@import '../../base/theme.scss';

.room-info-cards__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.room-info-cards__item {
  width: 270px;
  margin: 0 12px 21px 0;
  background-color: $white-color;
  box-shadow: 0 10px 20px $dark-color-opacity-5;
  border-radius: 4px;
}

.room-info-cards__item:hover {
  .room-info-cards__prev-link,
  .room-info-cards__next-link {
    background: $gray-gradient;
  }
  .room-info-cards__next-link {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .room-info-cards__prev-icon,
  .room-info-cards__next-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    width: 44px;
    height: 44px;
    transform: rotate(90deg);
    line-height: 24px;
    color: $white-color;
    cursor: pointer;
  }
}

.room-info-cards__slideshow-container {
  width: 100%;
  height: 151px;
  position: relative;
}

.room-info-cards__mySlides {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.room-info-cards__img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}

.room-info-cards__prev-link,
.room-info-cards__next-link {
  display: block;
  width: 42px;
  height: 151px;
  position: absolute;
  top: 0;
}

.room-info-cards__prev-link,
.room-info-cards__next-icon {
  left: 0;
}

.room-info-cards__next-link {
  right: 0;
}

.room-info-cards__prev-icon,
.room-info-cards__next-icon {
  @include material-icons;
  display: none;
}

.room-info-cards__dots-wrapper {
  position: absolute;
  right: 12px;
  bottom: 8px;
}

.room-info-cards__dot {
  display: inline-block;
  width: 7.5px;
  height: 7.5px;
  margin: 0 2px;
  border: 1px solid $white-color;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active,
.room-info-cards__dot:hover {
  background-color: $white-color;
}

.room-info-cards__mySlides--fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.room-info-cards__info-wrapper {
  padding: 20px 20px 19px 20px;
}

.room-info-cards__room-wrapper {
  align-items: baseline;
  padding-bottom: 10px;
  border-bottom: solid 1px $dark-color-opacity-10;
}

.room-info-cards__number {
  @include h2-text;
}

.room-info-cards__type {
  font-weight: bold;
  color: $purple-color;
}

.room-info-cards__price-wrapper,
.room-info-cards__reviews-wrapper {
  color: $dark-color-opacity-50;
}

.room-info-cards__reviews-wrapper {
  margin-top: 8px;
}

.room-info-cards__room-wrapper,
.room-info-cards__reviews-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
