mixin richCheckboxButtons({title, items} = options)
  -
    const defaultItems = [
      {
        'name': 'hall',
        'title': 'Широкий коридор',
        'description': 'Ширина коридоров в номере не менее 91 см.'
      },
      {
        'name': 'assistant',
        'title': 'Помощник для инвалидов',
        'description': 'На 1 этаже вас встретит специалист  и проводит до номера.',
      }
    ];
    let settings;

  div.rich-checkbox
    if (title)
      h2.rich-checkbox__title !{title}
    ul.rich-checkbox__list
      - settings = items ?  items: defaultItems
      each item in settings
        li.rich-checkbox__item
          input.rich-checkbox__input(
            type = 'checkbox',
            id = item.name + '-id',
            name = item.name,
            checked = item.isChecked,
            disabled = item.isDisabled,
          )
          label.rich-checkbox__label(for = item.name + '-id')
            div.rich-checkbox__info-wrapper
              p.rich-checkbox__item-title #{item.title}
              p.rich-checkbox__description #{item.description}
