extends ../../../base/base.pug

block title
  | Form Elements

block main
  include ../../../components/logo/logo
  include ../../../components/text-field/text-field
  include ../../../components/masked-text-field/masked-text-field
  include ../../../components/dropdown/dropdown
  include ../../../components/date-dropdown/date-dropdown
  +logo('../../../', 'gray')
  -
    const options = [
    {'title': 'Взрослые', 'id': 'adult', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Дети', 'id': 'children', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Младенцы', 'id': 'babies', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'}
    ];
  section.content
    div.content__column
      div.block-element
        +elementDescription('Text Field', 'Default')
        +textField('email', 'email', '', 'email-id', 'Email')

      div.block-element
        +elementDescription('Text Field', 'Hover / Focus')
        +textField('text', 'text', 'focused', 'text-id', 'This is pretty awesome')

      div.block-element
        +elementDescription('Dropdown', 'Default')
        +dropdown('Сколько гостей', options)

      div.block-element
        +elementDescription('masked text field', 'Default')
        +maskedTextField('date', 'masked-text', 'masked-text', 'masked-text-field_date', 'дд.мм.гггг')

      div.block-element
        div.block-element__inputs-wrapper
          div.block-element__half-column
            +elementDescription('date Dropdown')
            +date-dropdown('start', 'дд.мм.гггг')
          div.block-element__half-column
            +elementDescription('date Dropdown')
            +date-dropdown('end', 'дд.мм.гггг')

      div.block-element
        +elementDescription('filter date dropdown', '')
        +date-dropdown('filter', '19 авг - 23 авг', 'filter')

mixin elementDescription(title, state)
    div.block-element__description
      h3.block-element__title #{title}
      p.block-element__state #{state}
