extends ../../../base/base.pug

block title
  | Form Elements

block main
  include ../../../components/logo/logo
  include ../../../components/text-field/text-field
  include ../../../components/masked-text-field/masked-text-field
  include ../../../components/dropdown/dropdown
  include ../../../components/date-dropdown/date-dropdown
  include ../../../components/subscription-text-field/subscription-text-field
  include ../../../components/checkbox-buttons/checkbox-buttons
  include ../../../components/radio-buttons/radio-buttons
  include ../../../components/toggle-button/toggle-button
  include ../../../components/like-button/like-button
  include ../../../components/rating/rating
  include ../../../components/range-slider/range-slider
  include ../../../components/buttons/buttons
  include ../../../components/pagination/pagination
  include ../../../components/expandable-checkbox-list/expandable-checkbox-list
  include ../../../components/rich-checkbox-buttons/rich-checkbox-buttons
  include ../../../components/bullet-list/bullet-list
  include ../../../components/room-details/room-details
  include ../../../components/reviews/reviews
  +logo('../../../', 'gray')
  -
    const options = [
    {'title': 'Взрослые', 'id': 'adult', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Дети', 'id': 'children', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Младенцы', 'id': 'babies', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'}
    ];
    const optionsWithTwoGuests = [
    {'title': 'Взрослые', 'id': 'adult', 'defaultCount': '2', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Дети', 'id': 'children', 'defaultCount': '1', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Младенцы', 'id': 'babies', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'}
    ];
    const facilities = [
    {'title': 'спальни', 'id': 'bedroom', 'defaultCount': '2', 'minCount': '0', 'maxCount': '10'},
    {'title': 'кровати', 'id': 'bed', 'defaultCount': '2', 'minCount': '0', 'maxCount': '10'},
    {'title': 'ванные комнаты', 'id': 'bathroom', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'}
    ];
    const dropdownData = [
    {'id': 'start1-id', 'label': 'date Dropdown', 'placeholder': 'дд.мм.гггг', 'classes': ''},
    {'id': 'end1-id', 'label': 'date Dropdown', 'placeholder': 'дд.мм.гггг', 'classes': ''},
    ];
    const filterDropdownData = {'id': 'filter1-id', 'label': 'filter date dropdown', 'placeholder': '19 авг - 23 авг', 'classes': ''};
    const checkboxData = [
    {'id': 'smoke-id', 'name': 'smoke', 'label': 'Можно курить', 'isChecked': 'false', 'classes': ''},
    {'id': 'pets-id', 'name': 'pets', 'label': 'Можно с питомцами', 'isChecked': 'true', 'classes': ''},
    {'id': 'guests-id', 'name': 'guests', 'label': 'Можно пригласить гостей (до 10 человек)', 'isChecked': 'true', 'classes': ''},
    ];
    const expandableCheckboxData1 = [
    {'id': 'breakfast-1-id', 'name': 'breakfast', 'label': 'Завтрак', 'isChecked': 'false', 'classes': ''},
    {'id': 'table-1-id', 'name': 'table', 'label': 'Письменный стол', 'isChecked': 'true', 'classes': ''},
    {'id': 'chair-1-id', 'name': 'chair', 'label': 'Стул для кормления', 'isChecked': 'true', 'classes': ''},
    {'id': 'cot-1-id', 'name': 'cot', 'label': 'Кроватка', 'isChecked': 'true', 'classes': ''},
    {'id': 'tv-1-id', 'name': 'tv', 'label': 'Телевизор', 'isChecked': 'false', 'classes': ''},
    {'id': 'shampoo-1-id', 'name': 'shampoo', 'label': 'Шампунь', 'isChecked': 'false', 'classes': ''},
    ];
    const expandableCheckboxData2 = [
    {'id': 'breakfast-2-id', 'name': 'breakfast', 'label': 'Завтрак', 'isChecked': 'false', 'classes': ''},
    {'id': 'table-2-id', 'name': 'table', 'label': 'Письменный стол', 'isChecked': 'true', 'classes': ''},
    {'id': 'chair-2-id', 'name': 'chair', 'label': 'Стул для кормления', 'isChecked': 'true', 'classes': ''},
    {'id': 'cot-2-id', 'name': 'cot', 'label': 'Кроватка', 'isChecked': 'true', 'classes': ''},
    {'id': 'tv-2-id', 'name': 'tv', 'label': 'Телевизор', 'isChecked': 'false', 'classes': ''},
    {'id': 'shampoo-2-id', 'name': 'shampoo', 'label': 'Шампунь', 'isChecked': 'false', 'classes': ''},
    ];
    const richCheckboxData = [
    {'id': 'hall-id', 'name': 'hall', 'title': 'Широкий коридор', 'description': 'Ширина коридоров в номере не менее 91 см.', 'isChecked': 'false'},
    {'id': 'assistant-id', 'name': 'assistant', 'title': 'Помощник для инвалидов', 'description': 'На 1 этаже вас встретит специалист  и проводит до номера.', 'isChecked': 'false'},
    ];
    const radioData = [
    {'id': 'male-id', 'name': 'sex', 'label': 'Мужчина', 'isChecked': 'true', 'classes': ''},
    {'id': 'female-id', 'name': 'sex', 'label': 'Женщина', 'isChecked': 'false', 'classes': ''},
    ];
    const toggleData = [
    {'name': 'toggle', 'label': 'Получать спецпредложения', 'isChecked': 'true', 'classes': ''},
    {'name': 'toggle', 'label': 'Получать спецпредложения', 'isChecked': 'false', 'classes': ''},
    ];
    const bulletData = [
    {'name': 'Нельзя с питомцами', 'classes': ''},
    {'name': 'Без вечеринок и мероприятий', 'classes': ''},
    {'name': 'Время прибытия — после 13:00, а выезд до 12:00', 'classes': ''}
    ];
    const roomDetailsData = [
    {'icon': 'insert_emoticon', 'name': 'Комфорт', 'description': 'Шумопоглощающие стены'},
    {'icon': 'location_city', 'name': 'Удобство', 'description': 'Окно в каждой из спален'},
    ];
    const reviewsData = [
    {'imgName': 'avatar-1.png',
    'authorName': 'Мурад Сарафанов',
    'date': '5 дней назад',
    'likeBtn': {'count': '12', 'isActive': true},
    'text': 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
    },
    ];
  div.form-elements
    div.form-elements__elements-wrapper
      div.form-elements__element.form-elements__element--margin-bottom-21
        +textField('email', 'email', 'email-id', '', 'Email', 'Text Field', 'Default')
      div.form-elements__element.form-elements__element--margin-bottom-21
        +textField('text', 'text', 'text-1-id', 'text-field__input--focused', 'This is pretty awesome', 'Text Field', 'Hover / Focus')
      div.form-elements__element.form-elements__element--margin-bottom-24
        +dropdown('Сколько гостей', options, 'guests', 'Dropdown')
      div.form-elements__element.form-elements__element--margin-bottom-40
        +maskedTextField('text', 'masked-text', 'masked-text-id', 'masked-text-field--date', 'дд.мм.гггг', 'masked text field')
      div.form-elements__element.form-elements__element--margin-bottom-40
        +date-dropdown(true, dropdownData)
      div.form-elements__element.form-elements__element--margin-bottom-40
        +date-dropdown(false, filterDropdownData)
      div.form-elements__element.form-elements__element--margin-bottom-100
        +subscriptionTextField('')

    div.form-elements__elements-wrapper
      div.form-elements__element.form-elements__element--margin-bottom-40
        +checkboxButtons(checkboxData, 'Checkbox Buttons')
      div.form-elements__element.form-elements__element--margin-bottom-35
        +radioButtons(radioData, 'Radio Buttons')
      div.form-elements__element.form-elements__element--margin-bottom-40
        +toggleButton(toggleData, 'Toggle')
      div.form-elements__element.form-elements__element--margin-bottom-40
        h2.form-elements__title like button
        div.form-elements__wrapper.form-elements__wrapper--like-buttons
          +likeButton(2)
          +likeButton(12, true)
      div.form-elements__element.form-elements__element--margin-bottom-40
        h2.form-elements__title rate button
        div.form-elements__wrapper.form-elements__wrapper--rate-buttons
          +rating(4)
          +rating(5)

    div.form-elements__elements-wrapper
      div.form-elements__element.form-elements__element--margin-bottom-35
        +rangeSlider('Range Slider', 5000, 10000)
      div.form-elements__element.form-elements__element--margin-bottom-40
        h2.form-elements__title buttons
        +button('button', 'button button--small button--filled form-elements__button', 'CLICK ME')
        +button('button', 'button button--small button--filled button--filled-hovered', 'CLICK ME')
        +button('button', 'button button--small button--border form-elements__button', 'CLICK ME')
        +button('button', 'button button--small button--border button--border-hovered form-elements__button', 'CLICK ME')
        +button('button', 'button button--link form-elements__button', 'CLICK ME')
        +button('button', 'button button--link button--link-hovered', 'CLICK ME')
        +button('button', 'button button--action', 'перейти к оплате')
      div.form-elements__element.form-elements__element--margin-bottom-40
        h2.form-elements__title pagination
        +pagination

    div.form-elements__elements-wrapper
      div.form-elements__element.form-elements__element--margin-bottom-24
        +dropdown('Сколько комнат', facilities, 'facilities', 'Dropdown')
      div.form-elements__element.form-elements__element--margin-bottom-173
        +dropdown('Сколько комнат', facilities, 'facilities', 'Dropdown', 'expanded', true)

    div.form-elements__elements-wrapper
      div.form-elements__element
        +dropdown('Сколько гостей', options, 'guests', 'Dropdown', '', true)

    div.form-elements__elements-wrapper
      div.form-elements__element
        +dropdown('Сколько гостей', optionsWithTwoGuests, 'guests', 'Dropdown', '', true)

    div.form-elements__elements-wrapper
      div.form-elements__element.form-elements__element--margin-bottom-45
        +expandableCheckboxList(expandableCheckboxData1, 'expandable checkbox list', false)
      div.form-elements__element.form-elements__element--margin-bottom-109
        +expandableCheckboxList(expandableCheckboxData2, 'expandable checkbox list', true)

    div.form-elements__elements-wrapper
      div.form-elements__element
        +richCheckboxButtons(richCheckboxData, 'rich Checkbox Buttons')

    div.form-elements__elements-wrapper
      div.form-elements__element
        +bulletList(bulletData, 'bullet list')

    div.form-elements__elements-wrapper
      div.form-elements__element
        +roomDetails(roomDetailsData)

    div.form-elements__elements-wrapper.form-elements__elements-wrapper--double-column
      div.form-elements__element
        +reviews(reviewsData)
