@import '../../base/base.scss';
@import '../../base/theme.scss';

.rating__list {
  display: flex;
  cursor: pointer;
}

.rating__item {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.rating__star {
  @include material-icons;
  line-height: 20px;
  background-image: $purple-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
