@import '../../base/base.scss';
@import '../../base/theme.scss';

.rating__list {
  display: flex;
  cursor: pointer;
}

.rating__item {
  display: inline-block;
  width: 1.714rem;
  height: 1.714rem;
}

.rating__star {
  @include material-icons;
  line-height: 1.429rem;
  background-image: $purple-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
