mixin rating(currentRating = 5, hasValue = true)
  -
    const maxRating = 5;
    let starIndex = 1;
  div.rating.js-rating
    ul.rating__list
      while starIndex <= maxRating
        - const isSelectedRating = currentRating >= starIndex && hasValue;
        li.rating__item.js-rating__item(
          data-value = starIndex,
          class = isSelectedRating && "rating__item_selected js-rating__item_selected"
          )
          span.rating__star.js-rating__star
        - starIndex += 1;
