mixin rating(currentRating)
  - let n = 1;
  - let maxRating = 5;
  div.rating
    ul.rating__list
      while n <= maxRating
        li.rating__item.js-rating__item(data-value = n, class = currentRating >= n ? 'rating__item--selected js-rating__item--selected' : '')
          i.rating__star.js-rating__star
        - n++
