@import '../../base/base.scss';
@import '../../base/theme.scss';

.radio__title {
  @include h3-text;
  margin-bottom: 16px;
}

.radio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 220px;
}

.radio__input + label {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
}

.radio__input + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $dark-color-opacity-25;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.radio__input:checked + label::before {
  border-color:$purple-color;
  background-image: url('images/radio.svg');
}

.radio__input + label:hover {
  color: $dark-color-opacity-75;
}

.radio__input + label:hover::before {
  border-color: $purple-hover-color;
}
