@import '~Base';

body {
  width: 100%;
  margin: 0 auto;
  background-color: $white-color;
}

.landing {
  background-image: url('images/landing.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 82.857rem;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 1.286rem;
  }

  &__form-wrapper {
    margin-bottom: 5.714rem;

    @media (min-width: $tablet-width) {
      align-self: flex-start;
      margin-bottom: 22.857rem;
    }
  }

  &__description {
    max-width: 21.429rem;
    margin: 0;

    @media (min-width: $tablet-width) {
      align-self: flex-end;
      margin-left: auto;
      text-align: end;
    }
  }
}
