include ../button/button
include ../radio-buttons/radio-buttons
include ../masked-text-field/masked-text-field
include ../text-field/text-field
include ../toggle-button/toggle-button

mixin loginForm
  div.login
    form.login-form(action='url' method='post')
      h2.login-form__title Войти
      fieldset.login-form__fieldset-data
        +textField({'type': 'email', 'name': 'email', 'placeholder': 'Email'})
        +textField({'type': 'password', 'name': 'password', 'placeholder': 'Пароль'})
      +button({'view': 'action', 'height': 'high', 'content': 'войти'})
    div.login__registration-wrapper
      span.login__registration-text Нет аккаунта на Toxin?
      +button({'view': 'with-border', 'height': 'high', 'content': 'создать'})
