@import '../../base/base.scss';
@import '../../base/theme.scss';

.login {
  max-width: 27.286rem;
  padding: 1.429rem;
  position: relative;
  background-color: $white-color;
  z-index: 0;
  border: 0.071rem solid $black-color-opacity-12;
  border-radius: 0.286rem;
  box-shadow: 0 0 1.786rem $black-color-opacity-20;

  @media (min-width: $tablet-width) {
    padding: 2.857rem 2.143rem 2.143rem 2.143rem;
  }
}

.login-form__title {
  margin-bottom: 1.429rem;

  @media (min-width: $tablet-width) {
    width: 21.786rem;
    font-size: 1.714rem;
    line-height: 2.143rem;
  }
}

.login-form__fieldset-data {
  width: 100%;
  margin: 0 0 0.714rem 0;
  padding: 0;
  border: none;
}

.login-form .text-field {
  margin-bottom: 0.714rem;
}

.login__registration-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.143rem;
}

.login__registration-text {
  font-size: 0.857rem;
  line-height: 1.071rem;
  color: $black-color;

  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 1.286rem;
  }
}
