mixin button({type, isLogin, isRegister, height, view, isHovered, href, content} = options)
  -
    let classes = "";
    if (isLogin)
      classes += " button_type_login js-button_type_login"
    if (isRegister)
      classes += " button_type_register js-button_type_register"
    if (height === "high")
      classes += " button_height_high"
    if (height === "low")
      classes += " button_height_low"
    if (view === "filled")
      classes += " button_view_filled"
    if (view === "filled" && isHovered)
      classes +=  " button_view_filled-on-hover"
    if (view === "bordered")
      classes += " button_view_bordered"
    if (view === "bordered" && isHovered)
      classes += " button_view_bordered-on-hover"
    if (view === "textual")
      classes += " button_view_textual"
    if (view === "textual" && isHovered)
      classes += " button_view_textual-on-hover"
    if (view === "actionable")
      classes += " button_view_actionable"

  if (href)
    a.button(href = href, class = classes) !{content}
  else
    button.button(type = type ? type : "button", class = classes) !{content}
