@import '~Base/base.scss';

.button {
  @include h3-text;
  box-sizing: border-box;
  display: block;
  padding: 0;
  border: none;
  border-radius: 1.571rem;
  background: none;
  word-break: break-all;
  text-decoration: none;
  text-align: center;

  &:focus {
    outline-color: $purple-color;
  }

  &_height_low {
    padding: 0.643rem 1.357rem;
  }

  &_height_high {
    min-width: 7.071rem;
    padding: 1rem 0;
  }

  &_view_filled {
    background: $purple-gradient;
    color: $white-color;

    &:hover,
    &-on-hover {
      opacity: 0.5;
    }
  }

  &_view_bordered {
    position: relative;
    border: 0.143rem solid transparent;
    background-color: $white-color;
    background-clip: padding-box;
    color: $purple-color;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -0.143rem;
      border-radius: inherit;
      background: $purple-gradient;
    }

    &-on-hover::after,
    &:hover::after {
      opacity: 0.5;
    }
  }

  &_view_textual {
    min-width: 4.429rem;
    width: auto;
    padding: 0;
    color: $purple-color;

    &:hover,
    &-on-hover {
      color: $dark-color-opacity-50;
    }
  }

  &_view_actionable {
    width: 100%;
    max-width: 22.857rem;
    position: relative;
    background: $purple-gradient;
    color: $white-color;

    &::after {
      @include material-icons;
      content: 'arrow_forward';
      position: absolute;
      top: 0.7rem;
      right: 0.786rem;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
