mixin button({type, isLogin, isRegister, height, view, isHovered, content} = options)
  button.button(
    type = type ? type : 'button',
    class = isLogin ? 'button_type_login js-button_type_login' : '',
    class = isRegister ? 'button_type_register js-button_type_register' : '',
    class = height === 'high' ? 'button_height_high' : '',
    class = height === 'low' ? 'button_height_low' : '',
    class = view === 'filled' ? 'button_view_filled' : '',
    class = view === 'filled' && isHovered ? 'button_view_filled-on-hover' : '',
    class = view === 'bordered' ? 'button_view_bordered' : '',
    class = view === 'bordered' && isHovered ? 'button_view_bordered-on-hover' : '',
    class = view === 'textual' ? 'button_view_textual' : '',
    class = view === 'textual' && isHovered ? 'button_view_textual-on-hover' : '',
    class = view === 'actionable' ? 'button_view_actionable' : ''
    ) !{content}
