@import '~Base';

.pie-chart {
  @include reset-figure;
  max-width: 24.643rem;
  flex-grow: 1;

  &__title {
    @include h2-text;
    margin-bottom: 1.5rem;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__number {
    @include h1-text;
    font-size: 0.45em;
    line-height: 1;
    text-anchor: middle;
  }

  &__label {
    @include h3-text;
    font-size: 0.3em;
    text-anchor: middle;
    transform: translateY(1.2em);
  }

  &__donut-wrapper {
    height: 8.571rem;
    margin-right: 2.143rem;
  }

  &__donut {
    width: 8.571rem;
    height: 8.571rem;
  }

  &__description-list {
    @include reset-list-style;
  }
}

.pie-chart__description-item {
  position: relative;
  padding-left: 1.071rem;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 0.714rem;
    height: 0.714rem;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 50%;
  }

  &_rating_fine::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }

  &_rating_good::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }

  &_rating_normal::before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  &_rating_bad::before {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }
}
