mixin likeButton({countOfLikes, isActive} = options)
  button.like-button.js-like-button(class = isActive ? "like-button_active js-like-button_active" : "")
    span.like-button__icon.js-like-button__icon favorite_border
    span.like-button__count-likes.js-like-button__count-likes #{countOfLikes}
