@import '~Base';

.like-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 2.857rem;
  min-height: 1.429rem;
  padding: 0 0.786rem 0 0.286rem;
  border: 0.071rem solid $dark-color-opacity-25;
  border-radius: 0.714rem;
  background-color: inherit;

  &:focus {
    outline-color: $purple-color;
  }

  &__icon {
    @include material-icons;
    color: $dark-color-opacity-25;
    font-size: 0.714rem;
    line-height: 0.643rem;
    pointer-events: none;
  }

  &__count-likes {
    @include body-text;
    font-size: 0.714rem;
    line-height: 0.857rem;
    color: $dark-color-opacity-25;
    pointer-events: none;
  }
}

.like-button_active {
  border-color: $purple-color;

  .like-button__icon,
  .like-button__count-likes {
    color: $purple-color;
  }
}
