@import '../button/button';
@import '../masked-text-field/masked-text-field';
@import '~AirDatepicker/css/datepicker.min.css';
@import '~Base/base.scss';

.date-dropdown {
  display: flex;
  justify-content: space-between;
  max-width: 22.857rem;

  &__item {
    max-width: 10.714rem;
    position: relative;
    cursor: pointer;

    &::after {
      @include material-icons;
      content: 'expand_more';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 3.143rem;
      height: 3.143rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-color-opacity-50;
      pointer-events: none;
    }
  }

  &__label {
    @include h3-text;
    margin-bottom: 0.286rem;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    height:3.143rem;
    padding: 0.929rem 0 0.929rem 1.071rem;
    border: 0.071rem solid $dark-color-opacity-25;
    border-radius: 0.286rem;
    font-weight: normal;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      border-color: $dark-color-opacity-50;
    }

    &::placeholder {
      text-transform: uppercase;
      color: $dark-color-opacity-25;
    }
  }

  &:hover::after {
    color: $dark-color-opacity-75;
  }
}

.date-dropdown__item--filter {
  width: 100%;
  max-width: 19rem;

  .date-dropdown__input::placeholder {
    text-transform: lowercase;
  }
}

.datepicker-inline .datepicker {
  position: absolute;
}

.datepicker {
  box-sizing: border-box;
  width: 20rem;
  border: 0.071rem solid $dark-color-opacity-25;
  box-shadow: 0 0.714rem 1.429rem $dark-color-opacity-5;

  &--pointer {
    display: none;
  }

  &--content {
    padding: 0 1.429rem 0 1.5rem;
  }

  &--days-names {
    margin-bottom: 1.071rem;
  }

  &--day-name {
    @include h3-text;
    color: $purple-color;
  }

  &--cells {
    border-right: 1.571rem;
  }

  @media (min-width: $tablet-width) {
    width: 22.857rem;
  }
}

.datepicker--nav {
  padding: 1.286rem 1.429rem 1.857rem 1.286rem;
  border: none;

  &-title {
    @include h2-text;

    &:hover {
      background-color: inherit;
    }
  }

  &-prev,
  &-next {
    height: 1.786rem;
  }

  &-action:hover {
    background-color: inherit;
  }
}

.datepicker--nav-prev span,
.datepicker--nav-next span {
  @include material-icons;
  width: 1.714rem;
  color: $purple-color;

  &:hover {
    color: $dark-color-opacity-75;
  }
}

.datepicker--cell-day {
  height: 2.857rem;
  border-radius: 1.571rem;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: $dark-color-opacity-25;
}

.datepicker--cell.-current- {
  background: $green-gradient;
  color: $white-color;
}

.datepicker--cell.-selected-,
.datepicker--cell.-focus-,
.datepicker--cell.-selected-:hover,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus- {
  background: $purple-gradient;
}

.datepicker--cell.-in-range-,
.datepicker--cell.-in-range-:hover {
  background:  $purple-gradient-25;
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to- {
  position: relative;
  border: none;
  border-radius: 50%;
  background:  $purple-gradient;
  z-index: 1;

  &::before {
    content: '';
    width: 50%;
    height: inherit;
    position: absolute;
    right: 0;
    border: none;
    z-index: -1;
    background: $purple-gradient-25;
  }
}

.datepicker--cell.-range-to-::before {
  right: 50%;
}

.datepicker--cell.-selected- {
  background:  $purple-gradient;
}

.datepicker--buttons {
  margin: 1.429rem 1.429rem 0 1.429rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border-top: none;
}

.datepicker--button {
  @include h3-text;
  display: inline-block;
  color: $purple-color;

  &:hover {
    background: inherit;
    color: $dark-color-opacity-75;
  }
}

.datepicker--button[data-action$='apply'] {
  text-align: right;
}

.datepicker .datepicker--button[data-action$='clear'] {
  display: none;
}

.datepicker--selected .datepicker--button[data-action$='clear'] {
  display: block;
}
