include ../masked-text-field/masked-text-field
mixin date-dropdown(id, placeholder, mod='')
  div(class=(mod.length > 0) ? `date-dropdown date-dropdown--${mod}` : `date-dropdown`)
    +maskedTextField('text', 'date-dropdown', id, 'date-dropdown atepicker-here', placeholder)
