@import '../../base/base.scss';
@import '../../base/theme.scss';

.expandable-checkbox {
  max-width: 19rem;
  &__wrapper {
    display: none;
  }
  &__selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 19rem;
    cursor: pointer;
  }
  &__more-icon {
    @include material-icons;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.143rem;
    height: 3.143rem;
    line-height: 1.714rem;
  }
}

.expandable-checkbox_state_expanded {
  .expandable-checkbox__wrapper {
    display: block;
  }
  .expandable-checkbox__more-icon {
    transform: rotate(-180deg);
  }
}
