mixin expandable-checkbox(options = {})
  -
    const defaultItems = require('../../components/expandable-checkbox/expandable-checkbox.json');
    const {
    title,
    isExpanded,
    items = defaultItems
    } = options;
  include ../checkbox/checkbox
  div.expandable-checkbox.js-expandable-checkbox(class = isExpanded && "expandable-checkbox_expanded js-expandable-checkbox_expanded")
    div.expandable-checkbox__selection.js-expandable-checkbox__selection
      h3.expandable-checkbox__title !{title}
      span.expandable-checkbox__more-icon expand_more
    div.expandable-checkbox__wrapper.js-expandable-checkbox__wrapper
      +checkbox({items})
