@import '../../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css';
@import '~Base';

.range-slider {
  width: 19rem;
  position: relative;

  &__title {
    @include h3-text;
  }
}

.irs {
  display: block;
  cursor: pointer;
}

.irs--flat {
  .irs-line {
    height: 0.429rem;
    box-sizing: border-box;
    background-color: $white-color;
    border: 0.071rem solid $dark-color-opacity-25;
    border-radius: 0.214rem;
  }

  .irs-bar {
    height: 0.429rem;
    background: $green-gradient;
    border-radius: 0.214rem;
  }

  .irs-handle {
    top: 1.429rem;
    width: 1.143rem;
    height: 1.143rem;
    box-sizing: border-box;
    background: $green-gradient;
    border: 0.143rem solid $white-color;
    border-radius: 0.714rem;
    cursor: pointer;

    &>i:first-child {
      display: none;
    }
  }

  .irs-single {
    @include h3-text;
    display: block;
    top: -1.071rem;
    right: 0;
    left: auto !important;
    visibility: visible !important;
    font-weight: normal;
    color: $dark-color-opacity-50;
    background-color: inherit;
    pointer-events: none;
  }

  .irs-from:before,
  .irs-to:before,
  .irs-single:before {
    display: none;
  }
}

.irs-min,
.irs-max,
.irs-from,
.irs-to {
  display: none;
}
