mixin range-slider({title, from, to, min, max} = options)
  div.range-slider
    h3.range-slider__title #{title}
    input.range-slider__input.js-range-slider__input(
      type = "text",
      value = "",
      data-min = min || 0,
      data-max = max || 15500,
      data-from = from || 5000,
      data-to = to || 10000
    )
