@import '../../components/text-field/text-field.scss';
@import '~Base';

body {
  width: 100%;
  margin: 0 auto;
}

.form-elements {
  display: grid;
  grid-template-columns: repeat(3, 22.857rem);
  grid-template-rows: repeat(4, min-content);
  justify-content: space-between;
  max-width: 82.857rem;
  margin: 4.714rem auto 0 auto;
}

.form-elements__elements-wrapper {
  &_alignment_center {
    justify-self: center;
  }
  &_column_double {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.form-elements__element {
  &_margin_top-15 {
    margin-top: 1.071rem;
  }
  &_margin_top-82 {
    margin-top: 5.857rem;
  }
  &_margin_top-93 {
    margin-top: 6.643rem;
  }
  &_margin_bottom-21 {
    margin-bottom: 1.5rem;
  }
  &_margin_bottom-24 {
    margin-bottom: 1.714rem;
  }
  &_margin_bottom-35 {
    margin-bottom: 2.5rem;
  }
  &_margin_bottom-38 {
    margin-bottom: 2.714rem;
  }
  &_margin_bottom-41 {
    margin-bottom: 2.929rem;
  }
  &_margin_bottom-42 {
    margin-bottom: 3rem;
  }
  &_margin_bottom-45 {
    margin-bottom: 3.214rem;
  }
  &_margin_bottom-103 {
    margin-bottom: 7.357rem;
  }
  &_margin_bottom-160 {
    margin-bottom: 11.429rem;
  }
}

.form-elements__title {
  @include h3-text;
  margin-bottom: 1.143rem;
}

.form-elements__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &_buttons-type_like {
    width: 6.429rem;
  }
  &_buttons-type_rate {
    width: 18.571rem;
  }
}

.form-elements__button-wrapper {
  display: inline-block;
  margin-right: 1.071rem;
  margin-bottom: 2.143rem;
  &:nth-of-type(2) {
    margin-bottom: 1.786rem;
  }
  &:last-of-type {
    margin-bottom: 2rem;
  }
}
