@import '~Base/base.scss';

.rich-checkbox {
  &__title {
    @include h3-text;
    margin-bottom: 1.143rem;
  }

  &__list {
    @include reset-list-style;
  }

  &__label {
    flex-direction: column;
    width: 19rem;
    margin-bottom: 0.714rem;
  }

  &__item-title {
    margin: 0 0 0.429rem 0;
    font-weight: bold;
    color: $dark-color-opacity-75;
  }

  &__description {
    margin: 0;
    font-size: 0.857rem;
    line-height: 1rem;
  }

  &__input {
    @include visually-hidden;

    & + .rich-checkbox__label {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      cursor: pointer;
      color: $dark-color-opacity-50;
      line-height: 1.286rem;

      &::before {
        content: '';
        display: inline-block;
        box-sizing: border-box;
        width: 1.429rem;
        height: 1.429rem;
        flex-shrink: 0;
        flex-grow: 0;
        border: 0.071rem solid $dark-color-opacity-25;
        border-radius: 0.286rem;
        margin-right: 0.714rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      &:hover,
      &:hover::before {
        color: $dark-color-opacity-75;
        border-color: $dark-color-opacity-75;
      }
    }

    &:checked + .rich-checkbox__label::before {
      border-color: $purple-color;
      background-image: url('images/tick.svg');
    }
  }
}

.rich-checkbox__item {
  &:first-of-type {
    .rich-checkbox__description {
      max-width: 14.286rem;
    }
  }
  &:last-of-type {
    .rich-checkbox__description {
      max-width: 16.643rem;
    }
  }
}
