.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.571rem;
  &__img_view_uikit {
    margin-top: 2.143rem;
    margin-left: 2.143rem;
  }
  &:hover {
    opacity: 0.75;
  }
}
