mixin logo(type)
  a.logo
    if type==='uikit'
      img.logo__img.logo__img_view_uikit(src=require('../../components/logo/images/uikit-logo.svg').default width='48' height='48' alt='Logo for Uikit')
    else
      img.logo__img.logo__img_view_main(src=require('../../components/logo/images/main-logo.svg').default width='40' height='40' alt='Logo')
      img.logo__img.logo__img_view_textualt(src=require('../../components/logo/images/text-logo.svg').default width='53' alt='Toxin')
