-const pathToMainLogo='components/logo/images/main-logo.svg';
-const pathToGrayLogo='components/logo/images/gray-logo.svg';

mixin logo(basePath, type)
  .logo
    if type==='gray'
      img.logo--gray(src=basePath+pathToGrayLogo alt='logo')
    else
      img.logo--main(src=basePath+pathToMainLogo alt='Main logo')
