@import '~Base';

.header-and-footer {
  padding-bottom: 10rem;
  background-color: #E5E5E5;

  &__logo-wrapper {
    max-width: $max-desktop-width;
    margin: 0 auto;
  }

  &__content-wrapper{
    margin-top: 4.429rem;
  }

  &__item {
    margin-bottom: 2.857rem;
    background-color: $white-color;

    &:last-child {
      max-width: $tablet-width;
      margin: 0 auto;
    }
  }
}
