extends ../../base/base.pug
include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

block vars

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Headers and footers для Uikit.")

block title
  | header-and-footer

block content
  div.header-and-footer
    div.header-and-footer__logo-wrapper
      +logo('uikit')
    main.header-and-footer__wrapper
      div.header-and-footer__content-wrapper
        div.header-and-footer__item
          +header()
        div.header-and-footer__item
          +header({isUserAuthorized: true})
        div.header-and-footer__item
          +footer()
        div.header-and-footer__item
          +footer({isUikit: true})
