@import '~Base/mixins.scss';
@import '~Base/variables.scss';

.theme {
  max-width: $max-desktop-width;
  width: 100%;
  margin: 0 auto;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 4.786rem 13.214rem 0 10.571rem;
  }

  &__color {
    display: flex;
    margin-bottom: 1.429rem;
  }

  &__color-example {
    width: 5rem;
    height: 5rem;
    margin-right: 2.857rem;
    border-radius: 0.429rem;

    &_name_dark-color {
      background-color: $dark-color;
    }

    &_name_dark-color-opacity-75 {
      background-color: $dark-color-opacity-75;
    }

    &_name_dark-color-opacity-50 {
      background-color: $dark-color-opacity-50;
    }

    &_name_dark-color-opacity-25 {
      background-color: $dark-color-opacity-25;
    }

    &_name_dark-color-opacity-10 {
      background-color: $dark-color-opacity-10;
    }

    &_name_purple-color {
      background-color: $purple-color;
    }

    &_name_green-color {
      background-color: $green-color;
    }
  }

  &__color-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__color-title {
    @include h2-text;
  }

  &__color-description {
    margin: 0;
    font-family: 'Quicksand', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 1.357rem;
    line-height: 2.071;
  }

  &__type {
    display: flex;
    justify-content: space-between;
    width: 28.571rem;
    margin-bottom: 3.714rem;

    &:nth-child(3) {
      width: 17.429rem;
      margin-bottom: 2.429rem;
    }
  }

  &__type-description {
    text-align: left;
  }
}

.theme__type-wrapper_type_h1 {
  .theme__type-title_type_h1 {
    @include h1-text;
    margin-right: 2.286rem;
  }

  .theme__type-description {
    @include h1-text;
  }
}

.theme__type-wrapper_type_h2 {
  .theme__type-title_type_h2 {
    @include h2-text;
    margin-right: 2.429rem;
  }

  .theme__type-description {
    @include h2-text;
  }
}

.theme__type-wrapper_type_h3 {
  .theme__type-title_type_h3,
  .theme__type-description {
    @include h3-text;
  }
}

.theme__type-wrapper_type_body {
  .theme__type-title_type_body {
    @include body-text;
    margin-right: 1.429rem;
  }

  .theme__type-description {
    @include body-text;
  }
}
