@import '~Base/base.scss';

.subscription-text-field {
  max-width: 19rem;
  min-width: 18.571rem;
  position: relative;

  &__arrow {
    @include material-icons;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.143rem;
    height: 3.143rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.714rem;
    background: $purple-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
