include ../text-field/text-field

mixin subscriptionTextField(classes)
  div.subscription-text-field
    +textField('email', 'email', classes, 'email-id', 'Email')
    i.subscription-text-field__arrow arrow_forward
