mixin bullet({title, items, isUikit} = {})
  -
    const defaultItems = [
      {"name": "Нельзя с питомцами"},
      {"name": "Без вечеринок и мероприятий"},
      {"name": "Время прибытия — после 13:00, а выезд до 12:00"}
    ];
    items = items || defaultItems;

  div.bullet
    if (title)
      h2.bullet__title(class = isUikit ? "bullet__title_font_montserrat" : "") !{title}
    ul.bullet__list
      each item in items
        - let {name} = item;
        li.bullet__item #{name}
