mixin room-details(options = {})
  -
    const defaultItems = require('../../components/room-details/room-details.json');
    const {
    title,
    items = defaultItems
    } = options;

  div.room-details
    if (title)
      h2.room-details__title !{title}
    ul.room-details__list
      each item in items
        - let { icon, name, description } = item;
        li.room-details__item
          span.room-details__icon !{icon}
          div.room-details__text
            p.room-details__name !{name}
            p.room-details__description #{description}
