mixin roomDetails({title, items} = {})
  -
    const defaultItems = [
      {'icon': 'insert_emoticon', 'name': 'Комфорт', 'description': 'Шумопоглощающие стены'},
      {'icon': 'location_city', 'name': 'Удобство', 'description': 'Окно в каждой из спален'},
      {'icon': 'whatshot', 'name': 'Уют', 'description': 'Номер оснащён камином'}
    ];
    const settings = items ?  items: defaultItems;

  div.room-details
    if (title)
      h2.room-details__title !{title}
    ul.room-details__list
      each item in settings
        li.room-details__item
          span.room-details__icon !{item.icon}
          div.room-details__text
            p.room-details__name !{item.name}
            p.room-details__description #{item.description}
