mixin room-details({title, items} = {})
  -
    const defaultItems = [
      {'icon': 'insert_emoticon', 'name': 'Комфорт', 'description': 'Шумопоглощающие стены'},
      {'icon': 'location_city', 'name': 'Удобство', 'description': 'Окно в каждой из спален'},
      {'icon': 'whatshot', 'name': 'Уют', 'description': 'Номер оснащён камином'}
    ];
    items = items || defaultItems;

  div.room-details
    if (title)
      h2.room-details__title !{title}
    ul.room-details__list
      each item in items
        - let {icon, name, description} = item;
        li.room-details__item
          span.room-details__icon !{icon}
          div.room-details__text
            p.room-details__name !{name}
            p.room-details__description #{description}
