@import '../../base/base.scss';
@import '../../base/theme.scss';

.room-details {
  max-width: 280px;
}

.room-details__title {
  margin-bottom: 20px;
}

.room-details__item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $dark-color-opacity-10;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.room-details__icon {
  @include material-icons;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  font-size: 48px;
  line-height: 48px;
  background: $purple-gradient;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
}

.room-details__name {
  margin: 0;
  font-weight: bold;
}

.room-details__description {
  margin: 0;
}
