mixin modal(type)
  include ../login/login
  include ../registration/registration
  if(type='login')
    section.login-modal.js-login-modal
      div.login-modal__overlay.js-login-modal__overlay
      div.login-modal__form
        +login
  if(type='registration')
    section.registration-modal.js-registration-modal
      div.registration-modal__overlay.js-registration-modal__overlay
      div.registration-modal__form
        +registration
