@import '~Base';

body {
  width: 100%;
  margin: 0 auto;
  background-color: #E5E5E5;
}

.container {
  margin-top: 5.143rem;
  &__item {
    margin-bottom: 2.857rem;
    background-color: $white-color;
  }
  &__footer-wrapper {
    padding-bottom: 7.143rem;
  }
}
