extends ../../base/base.pug

block vars
  -
    const headersData = {
      'items': [
        {'content': 'Home', 'isActive': 'true'},
        {'content': 'About Us'},
        {'content': 'Services', 'submenu': [{'content': 'Service_1'}, {'content': 'Service_2'}]},
        {'content': 'Careers'},
        {'content': 'News'},
        {'content': 'Documentation'},
      ]
    };
    const headersDataForAuthorizedUser = {
      'isUserAuthorized': true,
      'items': [
        {'content': 'Home', 'isActive': 'true'},
        {'content': 'About Us'},
        {'content': 'Services', 'submenu': [{'content': 'Service_1'}, {'content': 'Service_2'}]},
        {'content': 'Careers'},
        {'content': 'News'},
        {'content': 'Documentation'},
      ]
    };
    const footersData = {
      'description': 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      'contentLists': [
        {
          'title': 'Navigation',
          'links': ['About Us', 'News', 'Support', 'Products']
        },
        {
          'title': 'About us',
          'links': ['Who we are', 'Our team', 'Careers', 'Investors']
        },
        {
          'title': 'Support',
          'links': ['Documentation', 'Community', 'Get in Touch']
        },
        {
          'title': 'Subscribe to our newsletter',
          'subscribe': 'Receive our latest news and promotions in your inbox!'
        }
      ],
      'copyrightText': 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
    };

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Headers and footers для Uikit.")

block title
  | headers-and-footers

block content
  include ../../components/logo/logo
  include ../../components/header/header
  include ../../components/footer/footer
  +logo('uikit')

  main.container
    div.container__item
      +header(headersData)
    div.container__item
      +header(headersDataForAuthorizedUser)
    div.container__item
      +footer(footersData)
    div.container__item.container__footer-wrapper
      +footer({'isUikit': true, 'items': footersData})
