extends ../../base/base.pug
include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

block vars

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Headers and footers для Uikit.")

block title
  | headers-and-footers

block content
  +logo('uikit')

  main.container
    div.container__item
      +header()
    div.container__item
      +header({'isUserAuthorized': true})
    div.container__item
      +footer()
    div.container__item.container__footer-wrapper
      +footer({'isUikit': true})
