@import '../button/button.scss';
@import '../date-dropdown/date-dropdown.scss';
@import '../dropdown/dropdown.scss';

.search-form {
  max-width: 380px;
  padding: 20px;
  background-color: $white-color;
  border: 1px solid $black-color-opacity-12;
  border-radius: 4px;
  box-shadow: 0 0 25px $black-color-opacity-20;
}

.search-form__title {
  margin-bottom: 18px;
}

.search-form__fieldset-date,
.search-form__fieldset-guests {
  margin: 0;
  padding: 0;
  border: none;
}

.search-form__fieldset-date {
  margin-bottom: 22px;
}

.search-form__fieldset-guests {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .search-form {
    width: 380px;
    padding: 40px 30px 30px 30px;
  }
  .search-form__title {
    width: 305px;
    font-size: 1.714rem;
    line-height: 2.14rem;
  }
}
