include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button
-
  const dropdownSettings = {
  'type': 'people',
  'label': 'гости',
  'placeholder': 'Сколько гостей',
  };
  const dropdownItems = [
  {'title': 'Взрослые', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
  {'title': 'Дети', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
  {'title': 'Младенцы', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
  ];

mixin searchForm
  form.search-form(action='url' method='post')
    h2.search-form__title Найдём номера под ваши пожелания
    fieldset.search-form__fieldset-date
      +date-dropdown({'startLabel': 'прибытие', 'endLabel': 'выезд'})
    fieldset.search-form__fieldset-guests
      +dropdown(dropdownSettings, dropdownItems)
    +button({'view': 'action', 'height': 'high', 'content': 'подобрать номер'})
