@import '../button/button.scss';
@import '../date-dropdown/date-dropdown.scss';
@import '../dropdown/dropdown.scss';

.search-form {
  box-sizing: border-box;
  max-width: 27.143rem;
  padding: 1.429rem;
  background-color: $white-color;
  border: 0.071rem solid $black-color-opacity-12;
  border-radius: 0.286rem;
  box-shadow: 0 0 1.786rem $black-color-opacity-20;

  @media (min-width: $tablet-width-s) {
    width: 27.143rem;
    padding: 2.857rem 2.143rem 2.143rem 2rem;
  }

  &__title {
    @include h2-text;
    margin-bottom: 1.214rem;

    @media (min-width: $tablet-width-s) {
      width: 21.786rem;
      font-size: 1.714rem;
      line-height: 2.14rem;
    }
  }

  &__fieldset-date,
  &__fieldset-guests {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__fieldset-date {
    margin-bottom: 1.571rem;
  }

  &__fieldset-guests {
    margin-bottom: 2.357rem;
  }
}
