include ../masked-text-field/masked-text-field
include ../radio-buttons/radio-buttons
include ../text-field/text-field
include ../toggle-button/toggle-button
include ../button/button

mixin registrationForm
  -
    const radioData = [
    {'id': 'male-id', 'name': 'sex', 'label': 'Мужчина', 'isChecked': 'true'},
    {'id': 'female-id', 'name': 'sex', 'label': 'Женщина', 'isChecked': 'false'},
    ];
    const toggleData = [
    {'name': 'toggle', 'label': 'Получать спецпредложения', 'isChecked': 'false'},
    ];

  div.registration
    form.registration-form(action='url' method='post')
      h2.registration-form__title Регистрация аккаунта
      fieldset.registration-form__fieldset-name
        +textField({'name': 'text', 'placeholder': 'Имя'})
        +textField({'name': 'surname', 'placeholder': 'Фамилия'})
      fieldset.registration-form__fieldset-gender
        +radioButtons(radioData)
      fieldset.registration-form__fieldset-birthday
        +maskedTextField({'name': 'birthday', 'placeholder': 'дд.мм.гггг', 'label': 'дата рождения'})
      fieldset.registration-form__fieldset-login
        legend.registration-form__legend-login данные для входа в сервис
        +textField({'type': 'email', 'name': 'email', 'placeholder': 'Email'})
        +textField({'type': 'password', 'name': 'password', 'placeholder': 'Пароль'})
      div.registration-form__offers-wrapper
        +toggleButton(toggleData)
      +button({'view': 'actionable', 'height': 'high', 'content': 'Перейти к оплате'})
    div.registration__login-wrapper
      span.registration__login-text Уже есть аккаунт на Toxin
      +button({'view': 'bordered', 'height': 'high', 'content': 'войти'})
