mixin maskedTextField(type, name, classes, id, placeholder, readOnly = false)
  -
    let classesList
    if(typeof(classes) !== "undefined" && classes) {
    classesList = classes.split(",")
    }
    let allClasses = "";
    if(typeof(classesList) !== "undefined" && classesList) {
      for (let i = 0; i < classesList.length; i++) {
        allClasses = allClasses + " masked-text-field_" + classesList[i].trim()
      }
    }
  input.masked-text-field(
    type = type,
    name = name,
    class = allClasses,
    id = id || '',
    placeholder = placeholder || '',
    readOnly = readOnly || false
  )
