mixin maskedTextField({type, name, placeholder, label, readOnly, uikitState, isHovered} = options)
  div.masked-text-field
    if label
      label.masked-text-field__label(for = `${name}-id`,) !{label}
    if uikitState
      span.masked-text-field__state !{uikitState}
    input.masked-text-field__input.js-masked-text-field__input(
      type = type ? type : "text",
      name = name,
      id = `${name}-id`,
      placeholder = placeholder || "",
      readonly = readOnly,
    )
