mixin maskedTextField(type, name, id, classes, placeholder, readOnly = false)
  input.masked-text-field(
    type = type,
    name = name,
    id = id,
    class = classes,
    placeholder = placeholder || '',
    readOnly = readOnly || false
  )
