@import '../../base/base.scss';
@import '../../base/theme.scss';

.header {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  background-color: $white-color;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.header__content-wrapper {
  width: 60%;
}

.header__content-wrapper-menu--closed {
  .header__main-nav {
    display: none;
  }
  .header__toggle-menu-icon--open {
    display: block;
  }
  .header__toggle-menu-icon--close {
    display: none;
  }
}

.header__content-wrapper-menu--opened {
  .header__main-nav {
    display: block;
  }
  .header__toggle-menu-icon--open {
    display: none;
  }
  .header__toggle-menu-icon--close {
    display: block;
  }
}

.header__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 48px;
  &--authorized {
    justify-content: flex-end;
  }
}

.header__login-button-wrapper {
  margin-right: 20px;
}

.header__toggle-menu-btn {
  @include material-icons;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: $purple-color;
  border: none;
  &--nojs {
    display: none;
  }
  &--withjs {
    display: block;
  }
}

.header__toggle-menu-icon,
.header__toggle-submenu-icon {
  font-style: normal;
}

.header__user-name {
  display: none;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  color: $dark-color-opacity-50;
  text-align: center;
}

.header__nav-item {
  min-width: 110px;
  margin-right: 25px;
  text-align: center;
}

.header__nav-link {
  display: block;
  padding: 6px;
  cursor: pointer;
  &--active {
    font-weight: bold;
    color: $dark-color-opacity-75;
  }
}

.header__submenu {
  width: 100%;
  position: relative;
  background-color: bisque;
}

.header__submenu--close {
  .header__toggle-submenu-icon--close {
    display: none;
  }
  .header__submenu-list {
    display: none;
  }
}

.header__submenu--opened {
  .header__toggle-submenu-icon--close {
    display: block;
  }
  .header__toggle-submenu-icon--open {
    display: none;
  }
  .header__submenu-list {
    display: block;
  }
}

.header__toggle-submenu-btn {
  @include material-icons;
  position: absolute;
  top: 3px;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  pointer-events: none;
  &--nojs {
    display: none;
  }
  &--withjs {
    display: block;
  }
}

.header__submenu-item {
  display: block;
  padding: 5px;
  font-style: italic;
  cursor: pointer;
}

.header__auth-wrapper {
  display: none;
}

.header__show-auth-btn {
  @include material-icons;
  color: $purple-color;
  text-decoration: none;
}

.header__login-popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
  background: pink;
  &--invisible {
    display: none;
  }
}

.header__registration-popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 700px;
  background: blue;
  &--invisible {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding-bottom: 10px;
  }
  .header__wrapper {
    max-width: 1160px;
    padding-top: 12px;
  }
  .header__content-wrapper {
    display: flex;
    flex-grow: 1;
    width: auto;
  }
  .header__toggle-menu-btn {
    display: none;
  }
  .header__content-wrapper-menu--closed .header__main-nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .header__nav-item {
    min-width: auto;
  }
  .header__nav-link {
    padding: 10px 1px;
  }
  .header__submenu {
    width: auto;
    padding-right: 24px;
    position: relative;
    &:hover {
      .header__submenu-list {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba($purple-color, 0.5);
      }
    }
  }
  .header__buttons-wrapper {
    width: auto;
    order: 1;
    &--authorized {
      margin-left: 7px;
    }
  }
  .header__user-name {
    display: block;
    padding: 6px 0 6px 30px;
    border-left: 1px solid $dark-color-opacity-10;
    color: $dark-color-opacity-50;
  }
  .header__show-auth-btn {
    display: none;
  }
  .header__auth-wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: 0;
  }
}
