@import '~Base';

.header {
  box-sizing: border-box;
  padding: 0 1.429rem 0 1.429rem;
  position: relative;
  background-color: $white-color;
  box-shadow: 0 0.714rem 1.429rem $dark-color-opacity-5;

  @media (min-width: $tablet-width) {
    padding-bottom: 0.714rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 35.714rem;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      max-width: 82.857rem;
      padding-top: 0.857rem;
    }
  }

  &__content-wrapper {
    width: 60%;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      width: auto;
    }
  }

  &__login-button-wrapper {
    margin-right: 1.429rem;
  }

  &__user-name {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      padding: 0.214rem 0 0.214rem 1.429rem;
      border-left: 0.071rem solid $dark-color-opacity-10;
      color: $dark-color-opacity-50;
    }
  }

  &__main-nav {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
    }
  }

  &__toggle-menu-icon_view_hamburger {
    display: block;
  }

  &__toggle-menu-icon_view_arrow {
    display: none;
  }

  &__nav-list {
    @include reset-list-style;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1.214rem;
    color: $dark-color-opacity-50;
    text-align: center;
    position: absolute;
    width: 60%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border: 0.143rem solid $dark-color-opacity-50;
    background-color: $white-color;

    @media (min-width: $tablet-width) {
      width: auto;
      flex-direction: row;
      position: static;
      transform: none;
      border: none;
      background-color: inherit;
    }
  }

  &__submenu-link {
    display: block;
    padding: 0.357rem;
    font-style: italic;
    cursor: pointer;
    transition: text-shadow .3s;
    text-decoration: none;
    color: $dark-color-opacity-50;

    &:hover {
      color: $dark-color-opacity-75;
      text-shadow: 0 0 0.071rem $dark-color-opacity-75, 0 0 0.071rem $dark-color-opacity-75;
    }
  }

  &__auth-wrapper {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: flex-end;
      z-index: 0;
    }
  }

  &__show-auth-btn {
    @include material-icons;
    color: $purple-color;
    text-decoration: none;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.header__content-wrapper-menu_opened {
  .header__main-nav {
    display: block;
  }

  .header__toggle-menu-icon_view_hamburger {
    display: none;
  }

  .header__toggle-menu-icon_view_arrow {
    display: block;
  }
}

.header__buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 3.429rem;

  @media (min-width: $tablet-width) {
    width: auto;
    order: 1;
  }
}

.header__toggle-menu-btn {
  @include material-icons;
  display: none;
  margin: 0 2.143rem 0 0;
  padding: 0;
  background-color: transparent;
  color: $purple-color;
  border: none;

  &_has-js {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav-item {
  min-width: 7.857rem;
  text-align: center;

  &_margin_small {
    margin-right: 1.5rem;
  }

  &_margin_big {
    margin-right: 1.929rem;
  }

  @media (min-width: $tablet-width) {
    min-width: auto;
  }
}

.header__nav-link {
  display: block;
  padding: 0.429rem;
  cursor: pointer;
  transition: text-shadow .3s;
  text-decoration: none;
  color: $dark-color-opacity-50;

  &_active,
  &:hover {
    color: $dark-color-opacity-75;
    text-shadow: 0 0 0.071rem $dark-color-opacity-75, 0 0 0.071rem $dark-color-opacity-75;
  }

  @media (min-width: $tablet-width) {
    padding: 0.714rem 0;
  }
}

.header__submenu {
  width: 100%;
  position: relative;

  .header__submenu-list {
    @include reset-list-style;
    display: none;
    background-color: $white-color;
  }

  &:hover {
    .header__submenu-list {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding-right: 1.714rem;
    position: relative;

    &:hover {
      .header__submenu-list {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }
}

.header__toggle-submenu-btn {
  @include material-icons;
  display: none;
  position: absolute;
  top: 0.786rem;
  right: 0;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  pointer-events: none;

  &_has-js {
    display: block;
  }
}

.header__buttons-wrapper_authorized {
  justify-content: flex-end;

  .header__nav-item_margin_small {
    margin-right: 0;
  }
}
