@import '../../base/base.scss';
@import '../../base/theme.scss';

.header {
  margin: 0 auto;
  padding: 0 1.429rem 0 1.429rem;
  background-color: $white-color;
  box-shadow: 0 0.714rem 1.429rem $dark-color-opacity-5;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 35.714rem;
  margin: 0 auto;
}

.header__content-wrapper {
  width: 60%;
}

.header__content-wrapper-menu--closed {
  .header__main-nav {
    display: none;
  }
  .header__toggle-menu-icon--open {
    display: block;
  }
  .header__toggle-menu-icon--close {
    display: none;
  }
}

.header__content-wrapper-menu--opened {
  .header__main-nav {
    display: block;
  }
  .header__toggle-menu-icon--open {
    display: none;
  }
  .header__toggle-menu-icon--close {
    display: block;
  }
}

.header__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 3.429rem;
  &--authorized {
    justify-content: flex-end;
  }
}

.header__login-button-wrapper {
  margin-right: 1.429rem;
}

.header__toggle-menu-btn {
  @include material-icons;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: $purple-color;
  border: none;
  &--nojs {
    display: none;
  }
  &--withjs {
    display: block;
  }
}

.header__user-name {
  display: none;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1.214rem;
  color: $dark-color-opacity-50;
  text-align: center;
}

.header__nav-item {
  min-width: 7.857rem;
  text-align: center;
  &--small-margin {
    margin-right: 1.429rem;
  }
  &--big-margin {
    margin-right: 1.929rem;
  }
}

.header__nav-link {
  display: block;
  padding: 0.429rem;
  cursor: pointer;
  &--active {
    font-weight: bold;
    color: $dark-color-opacity-75;
  }
}

.header__submenu {
  width: 100%;
  position: relative;
}

.header__submenu--close {
  .header__toggle-submenu-icon--close {
    display: none;
  }
  .header__submenu-list {
    display: none;
  }
}

.header__submenu--opened {
  .header__toggle-submenu-icon--close {
    display: block;
  }
  .header__toggle-submenu-icon--open {
    display: none;
  }
  .header__submenu-list {
    display: block;
  }
}

.header__toggle-submenu-btn {
  @include material-icons;
  position: absolute;
  top: 0.357rem;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  pointer-events: none;
  &--nojs {
    display: none;
  }
  &--withjs {
    display: block;
  }
}

.header__submenu-item {
  display: block;
  padding: 0.357rem;
  font-style: italic;
  cursor: pointer;
}

.header__auth-wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
    z-index: 0;
  }
}

.header__show-auth-btn {
  @include material-icons;
  color: $purple-color;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding-bottom: 0.714rem;
  }
  .header__wrapper {
    max-width: 82.857rem;
    padding-top: 0.857rem;
  }
  .header__content-wrapper {
    display: flex;
    flex-grow: 1;
    width: auto;
  }
  .header__toggle-menu-btn {
    display: none;
  }
  .header__content-wrapper-menu--closed .header__main-nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .header__nav-item {
    min-width: auto;
  }
  .header__nav-link {
    padding: 0.714rem 0;
  }
  .header__submenu {
    width: auto;
    padding-right: 1.714rem;
    position: relative;
    &:hover {
      .header__submenu-list {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba($purple-color, 0.5);
      }
    }
  }
  .header__buttons-wrapper {
    width: auto;
    order: 1;
    &--authorized {
      margin-left: 0.5rem;
    }
  }
  .header__user-name {
    display: block;
    padding: 0.429rem 0 0.429rem 2.143rem;
    border-left: 0.071rem solid $dark-color-opacity-10;
    color: $dark-color-opacity-50;
  }
}
