@import '~Base/mixins.scss';
@import '~Base/variables.scss';

.search {
  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 82.857rem;
    margin: 1.929rem auto 1.429rem auto;
    padding: 0 1.429rem;

    @media (min-width: $tablet-width-s) {
      flex-wrap: nowrap;
      margin-bottom: 4.071rem;
    }

    @media (min-width: $tablet-width-m) {
      padding: 0;
    }

    @media (min-width: $desktop-width-m) {
      max-width: $desktop-width-l;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  &__aside {
    max-width: 19rem;
    margin: 0 auto;

    @media (min-width: $tablet-width-s) {
      margin-right: 4.286rem;
    }

    @media (min-width: $desktop-width-m) {
      margin-right: 6rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cards {
    margin-bottom: 1.5rem;
  }

  &__cost-comment {
    margin: 0.286rem 0 0 0;
    font-size: 0.857rem;
    line-height: 1rem;
  }

  &__pagination-wrapper {
    width: 18.071rem;
  }
}

.search__element {
  &_bottom-margin_16 {
    margin-bottom: 1.143rem;
  }

  &_bottom-margin_21 {
    margin-bottom: 1.5rem;
  }

  &_bottom-margin_31 {
    margin-bottom: 2.214rem;
  }

  &_bottom-margin_33 {
    margin-bottom: 2.357rem;
  }
}
