@import '~Base';

body {
  width: 100%;
  margin: 0 auto;
  background-color: $white-color;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 82.857rem;
  margin: 1.929rem auto 1.429rem auto;
  padding: 0 1.429rem;
}

.search__aside {
  max-width: 19rem;
  margin: 0 auto;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__cards {
  margin-bottom: 1.5rem;
}

.search__element {
  &--bottom-margin-18 {
    margin-bottom: 1.286rem;
  }
  &--bottom-margin-21 {
    margin-bottom: 1.5rem;
  }
  &--bottom-margin-31 {
    margin-bottom: 2.214rem;
  }
  &--bottom-margin-33 {
    margin-bottom: 2.357rem;
  }
}

.search__cost-comment {
  margin: 0.286rem 0 0 0;
  font-size: 0.857rem;
  line-height: 1rem;
}

@media (min-width: $tablet-width) {
  .search {
    flex-wrap: nowrap;
    margin-bottom: 4rem;
  }
  .search__aside {
    margin-right: 5%;
  }
}

@media (min-width: $desktop-width) {
  .search {
    padding: 0;
  }
}
