extends ../../base/base.pug
include ../../components/header/header
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox/checkbox
include ../../components/rich-checkbox/rich-checkbox
include ../../components/expandable-checkbox/expandable-checkbox
include ../../components/room-info-cards/room-info-cards
include ../../components/pagination/pagination
include ../../components/footer/footer

block vars
  - const data = require('./search.json');

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Search page.")

block title
  | search

block content

  +header()
  main.search
    div.search__content-wrapper
      aside.search__aside
        div.search__element.search__element_bottom-margin_21
          +date-dropdown({startLabel: 'даты пребывания в отеле'})
        div.search__element.search__element_bottom-margin_31
          +dropdown(data.dropdown)
        div.search__element.search__element_bottom-margin_31
          +range-slider({title: 'диапазон цены'})
          p.search__cost-comment Стоимость за сутки пребывания в номере
        div.search__element.search__element_bottom-margin_33
          +checkbox(data.checkbox)
        div.search__element.search__element_bottom-margin_21
          +rich-checkbox({title: 'доступность'})
        div.search__element.search__element_bottom-margin_16
          +dropdown(data.facilitiesDropdown)
        +expandable-checkbox({title: 'дополнительные удобства'})
      div.search__wrapper
        article.search__cards
          +room-info-cards(data.roomInfoCards)
        div.search__pagination-wrapper
          +pagination
  +footer()
