extends ../../base/base.pug
include ../../components/header/header
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/room-info-cards/room-info-cards
include ../../components/pagination/pagination
include ../../components/footer/footer

block vars
  -
    const dropdownSettings = {
      'type': 'people',
      'label': 'гости',
      'placeholder': 'Сколько гостей',
      'items': [
        {'title': 'Взрослые', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
        {'title': 'Дети', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
        {'title': 'Младенцы', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
      ],
    };
    const facilitiesDropdownSettings = {
      'type': 'facilities',
      'label': 'удобства номера',
      'placeholder': 'Сколько комнат',
      'items': [
        {'title': 'спальни', 'defaultCount': '2', 'minCount': '0', 'maxCount': '10'},
        {'title': 'кровати', 'defaultCount': '2', 'minCount': '0', 'maxCount': '10'},
        {'title': 'ванные комнаты', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
      ]
    };
    const checkboxData = {
      'title': 'Checkbox Buttons',
      'items': [
        {'name': 'smoke', 'label': 'Можно курить'},
        {'name': 'pets', 'label': 'Можно с питомцами', 'isChecked': true},
        {'name': 'guests', 'label': 'Можно пригласить гостей (до 10 человек)', 'isChecked': true},
      ]
    };
    const dataForexpandableCheckbox = {
      'title': 'дополнительные удобства',
      'items': [
        {'name': 'breakfast', 'label': 'Завтрак'},
        {'name': 'table', 'label': 'Письменный стол', 'isChecked': true},
        {'name': 'chair', 'label': 'Стул для кормления', 'isChecked': true},
        {'name': 'cot', 'label': 'Кроватка', 'isChecked': true},
        {'name': 'tv', 'label': 'Телевизор'},
        {'name': 'shampoo', 'label': 'Шампунь'},
      ]
    };
    const roomInfoCardsData = {
      'title': 'Номера, которые мы для вас подобрали',
      'items': [
        {
          'roomNumber': '888',
          'title': '№ 888',
          'type': 'люкс',
          'price': '9&nbsp;990',
          'rating': '5',
          'reviewsCount': 145,
        },
        {
          'roomNumber': '840',
          'title': '№ 840',
          'price': '9&nbsp;990',
          'rating': '4',
          'reviewsCount': 65,
        },
        {
          'roomNumber': '980',
          'type': 'люкс',
          'title': '№ 980',
          'price': '8&nbsp;500',
          'rating': '3',
          'reviewsCount': 35,
        },
        {
          'roomNumber': '856',
          'title': '№ 856',
          'price': '7&nbsp;300',
          'rating': '5',
          'reviewsCount': 19,
        },
        {
          'roomNumber': '740',
          'title': '№ 740',
          'price': '6&nbsp;000',
          'rating': '4',
          'reviewsCount': 44,
        },
        {
          'roomNumber': '982',
          'title': '№ 982',
          'price': '5&nbsp;800',
          'rating': '3',
          'reviewsCount': 56,
        },
        {
          'roomNumber': '678',
          'title': '№ 678',
          'price': '5&nbsp;500',
          'rating': '5',
          'reviewsCount': 45,
        },
        {
          'roomNumber': '450',
          'title': '№ 450',
          'price': '5&nbsp;300',
          'rating': '4',
          'reviewsCount': 39,
        },
        {
          'roomNumber': '350',
          'title': '№ 350',
          'price': '5&nbsp;000',
          'rating': '3',
          'reviewsCount': 77,
        },
        {
          'roomNumber': '666',
          'title': '№ 666',
          'price': '5&nbsp;000',
          'rating': '5',
          'reviewsCount': 25,
        },
        {
          'roomNumber': '444',
          'title': '№ 444',
          'price': '5&nbsp;000',
          'rating': '3',
          'reviewsCount': 15,
        },
        {
          'roomNumber': '352',
          'title': '№ 352',
          'price': '5&nbsp;000',
          'rating': '3',
        'reviewsCount': 55,
        },
      ]
    };

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Search page.")

block title
  | search

block content

  +header()
  main.search
    aside.search__aside
      div.search__element.search__element_margin_bottom-21
        +date-dropdown({'startLabel': 'даты пребывания в отеле'})
      div.search__element.search__element_margin_bottom-31
        +dropdown(dropdownSettings)
      div.search__element.search__element_margin_bottom-31
        +rangeSlider({'title': 'диапазон цены'})
        p.search__cost-comment Стоимость за сутки пребывания в номере
      div.search__element.search__element_margin_bottom-33
        +checkboxButtons(checkboxData)
      div.search__element.search__element_margin_bottom-21
        +richCheckboxButtons({'title': 'доступность'})
      div.search__element.search__element_margin_bottom-16
        +dropdown(facilitiesDropdownSettings)
      +expandableCheckboxList(dataForexpandableCheckbox)
    div.search__wrapper
      article.search__cards
        +roomInfoCards(roomInfoCardsData)
      div.search__pagination-wrapper
        +pagination
  +footer()
