@import '~Base';

.footer {
  padding-top: 6.357rem;
  background-color: $white-color;
  border-top: 0.071rem solid $dark-color-opacity-25;

  @media (max-width: $desktop-width) {
    padding-bottom: 7.143rem;
  }

  &__total-wrapper {
    margin: 0 auto;
  }

  &__top-wrapper {
    display: flex;
    max-width: 82.857rem;
    margin: 0 auto;
    padding-top: 0.714rem;
    padding-bottom: 5.357rem;

    @media (max-width: $desktop-width) {
      padding-bottom: 2rem;
    }
  }

  &__description-wrapper {
    width: 24%;
    margin-right: 2.143rem;

    @media (max-width: $desktop-width) {
      width: 100%;
      margin: 0 auto;

      .logo {
        margin: 0 auto;
      }
    }
  }

  &__description {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      max-width: 40rem;
      margin: 1.286rem 0 0 0;
    }
  }

  &__content-wrapper {
    display: flex;
    width: 76%;
    padding-top: 0.357rem;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  &__content-item {
    width: 100%;
  }

  &__title {
    @include h3-text;
  }

  &__content-list {
    @include reset-list-style;
    margin-top: 1.357rem;
  }

  &__content-link {
    display: block;
    padding-bottom: 1rem;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      color: $dark-color-opacity-75;
    }
  }

  &__subscribe-text {
    margin: 1.286rem 0 1.714rem 0;
  }

  &__separator {
    height: 0.071rem;
    background-color: $dark-color-opacity-10;
    border: none;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 82.857rem;
    margin: 1.643rem auto 0 auto;
    padding-bottom: 1.643rem;

    @media (max-width: $desktop-width) {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }

  &__copyright-text {
    margin: 0 auto 1.5rem auto;
    text-align: center;

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.footer-uikit {
  padding: 0;

  .footer__top-wrapper {
    margin-top: 8.429rem;
    padding: 0;
  }

  .footer__description-wrapper {
    width: 100%;
    margin: 0 auto;

    .logo {
      margin: 0 auto;
    }
  }

  .footer__description {
    display: none;
  }

  .footer__content-wrapper,
  .footer__separator {
    display: none;
  }

  .footer__bottom-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 1.286rem;
  }

  .footer__copyright-text {
    margin: 0 0 1.5rem 0;
  }
}
