@import '../../base/theme.scss';
@import '../../base/base.scss';
@import '../date-dropdown/date-dropdown.scss';

.booking-form {
  max-width: 27.286rem;
  padding: 1.429rem;
  background-color: $white-color;
  border: 0.071rem solid $black-color-opacity-12;
  border-radius: 0.286rem;
  box-shadow: 0 0 1.786rem $black-color-opacity-20;
}

.booking-form__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.286rem;
}

.booking-form__room-info {
  font-weight: bold;
}

.booking-form__room-number {
  @include h2-text;
  font-size: 1.9rem;
}

.booking-form__room-type {
  @include h3-text;
  color: $purple-color;
}

.booking-form__room-cost,
.booking-form__room-period {
  line-height: 1.286rem;
  color: $dark-color-opacity-50;
}

.booking-form__fieldset-date,
.booking-form__fieldset-guests {
  margin: 0 0 1.429rem 0;
  padding: 0;
  border: none;
}

.booking-form__price-details {
  margin-bottom: 1.571rem;
}

.booking-form__price-per-day,
.booking-form__service-charge,
.booking-form__extra-service {
  display: flex;
  margin-bottom: 0.786rem;
}

.booking-form__extra-service {
  margin-bottom: 1.643rem;
}

.booking-form__service-text {
  width: 13.571rem;
}

.booking-form__more-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.429rem;
  height: 1.429rem;
  border: 0.071rem solid $dark-color-opacity-25;
  border-radius: 50%;
  color: $dark-color-opacity-25;
}

.booking-form__count {
  margin-left: auto;
}

.booking-form__total-price {
  display: flex;
  align-items: baseline;
  margin: 0;
}

.booking-form__total-text {
  @include h2-text;
  margin-right: 0.357rem;
}

.booking-form__dotes {
  flex-grow: 1;
  border-bottom: 0.071rem dashed $dark-color-opacity-25;
}

.booking-form__total-value {
  @include h2-text;
  margin-left: 0.357rem;
}

@media (min-width: $tablet-width) {
  .booking-form {
    width: 27.143rem;
    padding: 2.857rem 2.143rem 2.143rem 2.143rem;
  }
  .booking-form__service-text {
    width: 15.5rem;
  }
}
