include ../button/button
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown

mixin bookingForm
  -
    const dateDropdownOptions = [
    {'id': 'start1-id', 'label': 'прибытие', 'placeholder': 'дд.мм.гггг', 'classes': ''},
    {'id': 'end1-id', 'label': 'выезд', 'placeholder': 'дд.мм.гггг', 'classes': ''},
    ];
    const dropdownSettings = {
    'type': 'people',
    'label': 'гости',
    'placeholder': 'Сколько гостей',
    };
    const dropdownItems = [
    {'title': 'Взрослые', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Дети', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
    {'title': 'Младенцы', 'defaultCount': '0', 'minCount': '0', 'maxCount': '10'},
    ];

  form.booking-form(action='url' method='post')
    div.booking-form__header
      div.booking-form__room-info
        span №
        span.booking-form__room-number 888
        span.booking-form__room-type  люкс
      div.booking-form__room-price
        b.booking-form__room-cost 9&nbsp;990₽
        span.booking-form__room-period  в сутки
    fieldset.booking-form__fieldset-date
      +date-dropdown({'startLabel': 'прибытие', 'endLabel': 'выезд'})
    fieldset.booking-form__fieldset-guests
      +dropdown(dropdownSettings, dropdownItems)
    div.booking-form__price-details
      div.booking-form__price-per-day
        span 9&nbsp;990₽ x 4 суток
        span.booking-form__count 39&nbsp;960₽
      div.booking-form__service-charge
        span.booking-form__service-text Сбор за услуги: скидка&nbsp;2&nbsp;179₽
        span.booking-form__more-info-icon i
        span.booking-form__count 39&nbsp;960₽
      div.booking-form__extra-service
        span.booking-form__service-text Сбор за дополнительные услуги
        span.booking-form__more-info-icon i
        span.booking-form__count 300₽
      p.booking-form__total-price
        span.booking-form__total-text Итого
        span.booking-form__dotes
        span.booking-form__total-value 38&nbsp;081₽
    +button({'view': 'actionable', 'height': 'high', 'content': 'забронировать'})
