@import '../date-dropdown/date-dropdown.scss';
@import '~Base';

.booking-form {
  box-sizing: border-box;
  max-width: 27.286rem;
  padding: 1.429rem;
  background-color: $white-color;
  border: 0.071rem solid $black-color-opacity-12;
  border-radius: 0.286rem;
  box-shadow: 0 0 1.786rem $black-color-opacity-20;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.071rem;
  }

  &__room-info {
    font-weight: bold;
  }

  &__room-number {
    @include h2-text;
    font-size: 1.9rem;
  }

  &__room-type {
    @include h3-text;
    color: $purple-color;
  }

  &__room-cost,
  &__room-period {
    line-height: 1.286rem;
    color: $dark-color-opacity-50;
  }

  &__fieldset-date,
  &__fieldset-guests {
    margin: 0 0 1.571rem 0;
    padding: 0;
    border: none;
  }

  &__fieldset-guests {
    margin-bottom: 1.286rem;
  }

  &__price-details {
    margin-bottom: 1.5rem;
  }

  &__price-per-day,
  &__service-charge,
  &__extra-service {
    display: flex;
    margin-bottom: 0.786rem;
  }

  &__extra-service {
    margin-bottom: 2.286rem;
  }

  &__more-info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.429rem;
    height: 1.429rem;
    border: 0.071rem solid $dark-color-opacity-25;
    border-radius: 50%;
    color: $dark-color-opacity-25;
  }

  &__count {
    margin-left: auto;
  }

  &__total-price {
    display: flex;
    align-items: baseline;
    margin: 0;
  }

  &__total-text {
    @include h2-text;
    margin-right: 0.357rem;
  }

  &__dotes {
    flex-grow: 1;
    border-bottom: 0.071rem dashed $dark-color-opacity-25;
  }

  &__total-value {
    @include h2-text;
    margin-left: 0.357rem;
  }

  @media (min-width: $tablet-width) {
    width: 27.143rem;
    padding: 3rem 2.143rem 2.143rem 2.143rem;
  }

  &__service-text {
    width: 13.571rem;
    line-height: 1.286rem;

    @media (min-width: $tablet-width) {
      width: 15.5rem;
    }
  }
}
