include ../button/button
include ../radio/radio
include ../masked-text-field/masked-text-field
include ../text-field/text-field
include ../toggle/toggle

mixin login
  div.login
    form.login__form(action="url" method="post")
      h2.login__title Войти
      fieldset.login__fieldset-data
        div.login__text-field-wrapper
          +text-field({"type": "email", "name": "email", "placeholder": "Email"})
        div.login__text-field-wrapper
          +text-field({"type": "password", "name": "password", "placeholder": "Пароль"})
      +button({"view": "actionable", "height": "high", "content": "войти"})
    div.login__registration-wrapper
      span.login__registration-text Нет аккаунта на Toxin?
      +button({"view": "bordered", "height": "high", "content": "создать", "href": "sign-up.html"})
