mixin toggle({title, items} = options)
  div.toggle
    if (title)
      h2.toggle__title !{title}
    ul.toggle__list
      if (items)
        each item in items
          li.toggle__item
            label.toggle__label(for = item.id) #{item.label}
              input.toggle__input(
                type = "checkbox",
                name = item.name,
                checked = item.isChecked
              )
              span.toggle__slider
