@import '~Base';

.toggle {
  &__title {
    @include h3-text;
    margin-bottom: 1.071rem;
  }

  &__list {
    @include reset-list-style;
  }

  &__item {
    position: relative;
    margin-bottom: 0.786rem;
    padding-left: 3.571rem;
  }

  &__slider {
    position: absolute;
    box-sizing: border-box;
    width: 2.857rem;
    height: 1.429rem;
    top: 0;
    left: 0;
    transition: .4s;
    border-radius: 0.714rem;
    border: 0.071rem solid $dark-color-opacity-25;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 0.857rem;
      height: 0.857rem;
      left: 0.214rem;
      bottom: 0.214rem;
      background-color: $dark-color-opacity-25;
      transition: .4s;
      border-radius: 50%;
    }
  }

  &__input {
    @include visually-hidden;

    &:checked + .toggle__slider {
      border-color: $purple-color;

      &:before {
        transform: translateX(1.429rem);
        background-image: $purple-gradient;
      }
    }
  }
}
