extends ../../base/base.pug
include ../../components/logo/logo
include ../../components/date-dropdown/date-dropdown
include ../../components/search-form/search-form
include ../../components/registration/registration
include ../../components/login/login
include ../../components/booking-form/booking-form
include ../../components/room-info-cards/room-info-cards

block vars
  -
    const roomInfoCardsData = {
      "items": [
        {
          "roomNumber": "888",
          "title": "№ 888",
          "type": "люкс",
          "rating": "5",
          "reviewsCount": 145,
        },
        {
          "roomNumber": "840",
          "title": "№ 840",
          "rating": "4",
          "reviewsCount": 65,
        },
      ]
    };
block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Cards для Uikit.")

block title
  | Cards

block content
  +logo("uikit")

  main.cards
    div.cards__wrapper
      div.cards__card
        +searchForm
      div.cards__card
        +registration

    div.cards__wrapper
      div.cards__card
        +bookingForm
      div.cards__card
        +login

    div.cards__wrapper
      div.cards__card
        +date-dropdown({"isInline": "true"})
      div.cards__card.cards__card_content_room
        +roomInfoCards(roomInfoCardsData)
