@import '../../components/logo/logo';
@import '../../components/search-form/search-form.scss';
@import '~Base';

body {
  width: 100%;
  margin: 0 auto;
  background-color: #E5E5E5;
}

.cards {
  display: flex;
  justify-content: space-between;
  max-width: $max-desktop-width;
  margin: 5.143rem auto 10rem auto;

  &__wrapper:last-of-type {
    width: 22.857rem;
  }
}

.cards__card {
  margin-bottom: 2.857rem;

  &_content_room {
    width: 20.143rem;
    margin-top: 29.286rem;
    margin-right: auto;
  }
}
