extends ../../base/base.pug
include ../../components/header/header
include ../../components/room-details/room-details
include ../../components/pie-chart/pie-chart
include ../../components/reviews/reviews
include ../../components/bullet/bullet
include ../../components/booking-form/booking-form
include ../../components/footer/footer

block vars
  - const data = require('./details.json');

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Room details page.")

block title
  | room details

block content

  +header()
  main.details
    div.details__wrapper
      div.details__images-wrapper
        img.details__image(src=require('../../pages/details/images/bedroom.png').default width="68.125%" height="100%" alt="Bedroom")
        img.details__image(src=require('../../pages/details/images/cabinet.png').default width="31.875%" height="50%" alt="Cabinet")
        img.details__image(src=require('../../pages/details/images/living-room.png').default width="31.875%" height="50%" alt="Living room")
      div.details__content-wrapper
        div.details__content
          div.details__content-top
            +room-details({title: 'Сведения о номере'})
            +pie-chart()
          div.details__content-bottom
            div.details__reviews-wrapper
              +reviews(data.reviews)
          div.details__rules-wrapper
            +bullet({title: 'Правила'})
            div.details__cancel-rule
              h2.details__cancel-rule-title Отмена
              p.details__cancel-rule-description Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        +booking-form
  +footer()
