mixin textField(type, name, classes, placeholder, label = null, uikitState='default', readOnly = false)
  div.text-field
    if label
      label.text-field__label !{label}
    if uikitState
      span.text-field__state !{uikitState}
    input.text-field__input(
      type = type,
      name = name,
      class = classes,
      placeholder = placeholder || '',
      readOnly = readOnly || false
  )
