@import '../../base/base.scss';
@import '../../base/theme.scss';

.text-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 22.857rem;
 }

.text-field__label {
  @include h3-text;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.357rem;
}

.text-field__state {
  @include h3-text;
  margin: 0;
  font-weight: normal;
  color: $dark-color-opacity-50;
}

.text-field__input {
  box-sizing: border-box;
  width: 100%;
  height:3.143rem;
  padding: 0.929rem 0 0.929rem 1.071rem;
  border: 0.071rem solid $dark-color-opacity-25;
  border-radius: 0.286rem;
  &:hover,
  &:focus,
  &--hovered {
    outline: none;
    border-color: $dark-color-opacity-50;
  }
  &::placeholder {
    color: $dark-color-opacity-25;
  }
}

.text-field__input:hover::placeholder,
.text-field__input:focus::placeholder,
.text-field__input--hovered::placeholder {
  color: $dark-color-opacity-75;
}
