@import '../../base/theme.scss';

.text-field {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

.text-field__label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-color;
}

.text-field__state {
  margin: 0;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-color-opacity-50;
}

.text-field__input {
  box-sizing: border-box;
  width: 100%;
  height:44px;
  padding: 13px 0 13px 15px;
  border: 1px solid $dark-color-opacity-25;
  border-radius: 4px;
  &:hover,
  &:focus,
  &--focused {
    border-color: $dark-color-opacity-50;
  }
  &::placeholder {
    color: $dark-color-opacity-25;
  }
}

.text-field__input:hover::placeholder,
.text-field__input:focus::placeholder,
.text-field__input--focused::placeholder {
  color: $dark-color-opacity-75;
}
