mixin textField(options)
  div.text-field
    if options.label
      label.text-field__label(for=options.id) !{options.label}
    if options.uikitState
      span.text-field__state !{options.uikitState}
    input.text-field__input(
      type = options.type,
      name = options.name,
      id = options.id,
      class=options.classes ? 'text-field__input--' + options.classes : '',
      placeholder = options.placeholder || '',
      :readonly=(options.readOnly)
  )
