@import '~Normalize';
@import '~Theme';
@import '~FontsScss';

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$tablet-width: 768px;

@mixin h1-text {
  font-family: "Quicksand", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.714rem; // 24px
  line-height: 2.143rem; // 30px
  color: $dark-color;
}

@mixin h2-text {
  font-family: "Quicksand", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.357rem; // 19px
  line-height: 1.714rem; // 24px
  color: $dark-color;
}

@mixin h3-text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.857rem; // 12px;
  line-height: 1.071rem; // 15px;
  text-transform: uppercase;
  color: $dark-color;
}

@mixin body-text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem; //14px
  line-height: 1.714rem; //24px
  color: $dark-color-opacity-75;
}

@mixin material-icons {
  display: inline-block;
  font-family: "Material icons";
  font-size: 24px;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  @include body-text;
}

h1 {
  @include h1-text;
}

h2 {
  @include h2-text;
}

h3 {
  @include h3-text;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
