@import '~Base/mixins.scss';
@import '~Base/variables.scss';
@import '~Normalize';

html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: $dark-color-opacity-75;
  background-color: $white-color;

  @media (min-width: $desktop-width-m) {
    font-size: 18px;
  }
}

body {
  @include body-text;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
