include ../masked-text-field/masked-text-field
include ../radio/radio
include ../text-field/text-field
include ../toggle/toggle
include ../button/button

mixin registration
  div.registration
    form.registration__form(action="url" method="post")
      h2.registration__title Регистрация аккаунта
      fieldset.registration__fieldset-name
        div.registration__text-field-wrapper
          +text-field({name: 'text', placeholder: 'Имя'})
        div.registration__text-field-wrapper
          +text-field({name: 'surname', placeholder: 'Фамилия'})
      fieldset.registration__fieldset-gender
        +radio()
      fieldset.registration__fieldset-birthday
        +masked-text-field({name: 'birthday', placeholder: 'дд.мм.гггг', label: 'дата рождения'})
      fieldset.registration__fieldset-login
        legend.registration__legend-login данные для входа в сервис
        div.registration__text-field-wrapper
          +text-field({type: 'email', name: 'email', placeholder: 'Email'})
        div.registration__text-field-wrapper
          +text-field({type: 'password', name: 'password', placeholder: 'Пароль'})
      div.registration__offers-wrapper
        +toggle
      +button({view: 'actionable', content: 'Перейти к оплате'})
    div.registration__login-wrapper
      span.registration__login-text Уже есть аккаунт на Toxin
      +button({type: 'link', view: 'bordered', content: 'войти', url: 'sign-in.html'})
