@import '~Base/base.scss';

.registration {
  box-sizing: border-box;
  position: relative;
  max-width: 27.143rem;
  padding: 1.429rem;
  background-color: $white-color;
  border: 0.071rem solid $black-color-opacity-12;
  border-radius: 0.286rem;
  box-shadow: 0 0 1.786rem $black-color-opacity-20;
  z-index: 0;

  @media (min-width: $tablet-width) {
    width: 27.143rem;
    padding: 2.857rem 2.143rem 2.143rem 2rem;
  }

  &__title {
    @include h2-text;
    margin-bottom: 1.429rem;

    @media (min-width: $tablet-width) {
      width: 21.786rem;
      font-size: 1.714rem;
      line-height: 2.143rem;
    }
  }

  &__fieldset-name,
  &__fieldset-gender,
  &__fieldset-birthday,
  &__fieldset-login {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }

  &__fieldset-gender {
    margin-bottom: 1.286rem;
  }

  &__fieldset-birthday {
    margin-bottom: 1.429rem;
  }

  &__legend-login {
    @include h3-text;
    margin-bottom: 0.286rem;
  }

  &__offers-wrapper {
    margin-bottom: 1.571rem;
  }

  &__text-field-wrapper {
    margin-bottom: 0.714rem;
  }

  &__login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.143rem;
  }

  &__login-text {
    font-size: 0.857rem;
    line-height: 1.071rem;
    color: $black-color;

    @media (min-width: $tablet-width) {
      font-size: 1rem;
      line-height: 1.286rem;
    }
  }
}
